# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\johnd\OneDrive\Desktop\Home\Projects\AOODPP_AII\oodppStubsForAssessment-2-2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
